:root {
	--header-bg-color: #202020;

	--main-bg-color: #181818;

	--chat-bg-color: hsl(0, 0%, 25%);
	--chat-bg-color-light: hsl(0, 0%, 30%);
	--chat-bg-color-dark: hsl(0, 0%, 20%);

	--twitch-color: #6441a5;
	--twitch-color-light: #7c4ecc;
	--twitch-color-dark: #5c2e91;

	--normal-color: rgb(69, 69, 69);
	--normal-color-light: rgb(102, 102, 102);
	--normal-color-dark: rgb(51, 51, 51);

	--signout-color: rgb(193, 38, 24);
	--signout-color-light: rgb(255, 102, 0);
	--signout-color-dark: rgb(128, 0, 0);

	--primary-font-color: #fff;
}

body {
	background-color: var(--main-bg-color);
	color: var(--primary-font-color);
}
