.button {
	box-shadow: rgba(255, 255, 255, 0.4) 0 -1px 0 0 inset;
	font-size: 1rem;
	color: var(--primary-font-color);
	border: 0;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	background-color: var(--normal-color);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	transition: all 0.4s ease;
	cursor: pointer;

	&:hover {
		background-color: var(--normal-color-light);
	}
	&:active {
		background-color: var(--normal-color-dark);
	}

	&--loading {
		background-color: var(--normal-color-light) !important;
		pointer-events: none;
		color: transparent;
		user-select: none;
		box-shadow: 0 0 0 0;
	}

	&__content {
		&__spinner {
			position: absolute;
			color: var(--primary-font-color);
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
		}
	}
}

.button-twitch {
	background-color: var(--twitch-color);
	&:hover {
		background-color: var(--twitch-color-light);
	}
	&:active {
		background-color: var(--twitch-color-dark);
	}
}
