.chat {
	position: relative;
	width: 100%;
	height: calc(100vh - var(--header-height) - var(--footer-height));
	display: flex;
	flex-direction: column;

	&__content {
		height: 100%;
		border-radius: 5px;
		background-color: var(--chat-bg-color);
		color: var(--primary-font-color);
		overflow: auto;
		margin: 0.5rem;

		&::-webkit-scrollbar {
			width: 12px;
			background-color: var(--normal-color-dark);
			border-radius: 5px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			background-color: #555;
		}
		& ul {
			margin: 0.5rem;
			padding: 0;
			display: flex;
			flex-direction: column-reverse;
		}

		&__loading {
			position: absolute;
			background-color: var(--main-bg-color-transparent);
			top: 0.5rem;
			left: 0.5rem;
			width: calc(100% - 1rem);
			height: calc(100% - 1rem);
			z-index: 9999;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			border-radius: 5px;
			gap: 0.5rem;
		}
	}
}
