.chatters {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0.5rem;
	height: 100%;
	width: 95%;
	background-color: var(--header-bg-color);
	&__header {
		background-color: var(--normal-color-dark);
		border-radius: 0.5rem 0.5rem 0 0;
		width: 100%;
		display: flex;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
		height: 3rem;
	}
	&__body {
		width: 100%;

		&__chatters {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: var(--normal-color-light);
			border-bottom: 0.1rem solid var(--normal-color-dark);
			&__title {
				height: 2rem;
				width: 100%;
				display: flex;
				gap: 0.5rem;
				justify-content: center;
				align-items: center;
				border-bottom: 0.1rem solid var(--normal-color-dark);
			}
			&__category {
				height: 1.5rem;
				width: 100%;
				display: flex;
				gap: 0.5rem;
				justify-content: center;
				align-items: center;
				border-bottom: 0.1rem solid var(--normal-color-dark);
			}
			img {
				height: 16px;
			}
		}
	}
}
