.chat {
	height: calc(100vh - var(--header-height) - var(--footer-height));
	border-radius: 5px;
	background-color: var(--chat-bg-color);
	color: var(--primary-font-color);
	overflow: auto;

	& ul {
		margin: 0.5rem;
		padding: 0;
	}
}
