.header {
	background-color: var(--header-bg-color);
	color: white;
	padding: 0 1rem;
	height: var(--header-height);
	display: flex;
	align-items: center;

	&__left {
		flex: 1;
		display: flex;
		justify-content: flex-start;
		gap: 16px;
		align-items: center;
	}
	&__right {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		gap: 16px;
		align-items: center;
	}

	&__logo {
		height: 40px;
		margin-left: 16px;
	}
	&__account_logo {
		height: 40px;
		border-radius: 100%;
	}

	&__login-button {
		box-shadow: rgba(255, 255, 255, 0.4) 0 -1px 0 0 inset;
		color: var(--primary-font-color);
		border: 0;
		border-radius: 0.5rem;
		padding: 0.5rem 1rem;
		background-color: var(--twitch-color);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		transition: all 0.4s ease;
		cursor: pointer;
		width: 7rem;

		&:hover {
			background-color: var(--twitch-color-light);
		}
		&:active {
			background-color: var(--twitch-color-dark);
		}
	}
}
