.message {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.25rem;
	padding: 0.5rem;
	&__author {
		font-weight: bold;
	}
	&__text {
		display: flex;
		flex-direction: row;
		align-items: center;

		&__emote {
			height: 1.25rem;
			padding: 0 0.25rem;
		}
	}
}
