.message {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.25rem;
	padding: 0.5rem;
	background-color: var(--chat-bg-color-dark);
	margin-bottom: 0.5rem;
	border-radius: 5px;
	&:nth-last-child(odd) {
		background-color: var(--chat-bg-color-light);
	}

	&__author {
		font-weight: bold;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__timestamp {
		font-size: 0.7rem;
		color: var(--normal-color-light);
	}

	&__text {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 0.2rem;
		padding-right: 0.2rem;
		text-justify: inter-word;

		&__emote {
			height: 1.5rem;
			padding: 0 0.25rem;
		}
	}
}
